<app-navbar></app-navbar>
<app-boton-regresar></app-boton-regresar>
<div class="container">
  <div class="card">
<div class="detalle-obra">
    <h2>Detalles de la Obra</h2>

    <div *ngIf="obra; else loading">
      <p><strong>Nombre:</strong> {{ obra.nombreObra }}</p>
      <p><strong>Responsable Principal:</strong> {{ obra.responsable }}</p>
      <p><strong>Responsable Secundario:</strong> {{ obra.responsableSecundario }}</p>
      <p><strong>Cliente:</strong> {{ obra.clienteObra }}</p>
      <button *ngIf="cargo !== 'cliente'" (click)="irAGestionPersonal()">Gestionar Personal</button>
    </div>

    <ng-template #loading>
      <p>Cargando detalles...</p>
    </ng-template>
  </div>
</div>
</div>
