<app-navbar></app-navbar>
<app-boton-regresar></app-boton-regresar>
<div class="container">
  <div class="card">
<div class="detalle-obra">
    <h1>Detalles de la Obra</h1>
    <div *ngIf="obra; else loading">
      <p><strong>Nombre:</strong> {{ obra.nombreObra }}</p>
      <p><strong>Responsable Principal:</strong> {{ obra.responsableNombre }}</p>
      <p><strong>Responsable Secundario:</strong> {{ obra.responsableSecundario }}</p>
      <p><strong>Cliente:</strong> {{ obra.clienteObra }}</p>
      <button class="btn" *ngIf="cargo !== 'cliente'" (click)="irAGestionPersonal()">Gestionar Personal</button>
      <button class="btn" id="inventario" *ngIf="cargo !== 'cliente'" (click)="irAInventarioInterno(obra.nombreObra)">Inventario de obra</button>
    </div>

    <ng-template #loading>
      <p>Cargando detalles...</p>
    </ng-template>
  </div>
</div>
</div>
