<app-navbar></app-navbar>
<app-boton-regresar></app-boton-regresar>

<div class="container my-5">
  <div class="text-center mb-4" id="text">
    <h1 id="title" class="display-5 fw-bold">Métricas de la Obra</h1>
    <p class="lead"></p>
  </div>

  <div class="ratio ratio-16x9 shadow rounded overflow-hidden">
    <iframe
      title="PICSOSAS"
      src="https://app.powerbi.com/reportEmbed?reportId=20edf5e4-bd91-4bc6-a1a6-00e32c10b01b&autoAuth=true&ctid=e5173fa9-40e4-49ac-84d8-46d3ddccfc87"
      frameborder="0"
      allowfullscreen="true"
    ></iframe>
  </div>
</div>
