<app-navbar></app-navbar>

<div class="permisos-admin">
  <h2 id="title">Permisos Especiales Registrados</h2>

  <div class="search-container">
    <input
      type="text" placeholder="Buscar..." [(ngModel)]="searchQuery" (ngModelChange)="filtrarPermisos()" class="search-input">
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre Empleado</th>
          <th>Comentarios</th>
          <th>Fecha y Hora</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i = index; let doc of documentosFiltrados">
          <td>{{ i + 1 }}</td>

          <ng-container *ngIf="documentoEditando && documentoEditando.id === doc.id; else mostrarNombre">
            <td>
              <input [(ngModel)]="documentoEditando.nombreEmpleado" class="form-control" />
            </td>
          </ng-container>
          <ng-template #mostrarNombre>
            <td>{{ doc.nombreEmpleado }}</td>
          </ng-template>

          <ng-container *ngIf="documentoEditando && documentoEditando.id === doc.id; else mostrarComentarios">
            <td>
              <input [(ngModel)]="documentoEditando.comentarios" class="form-control" />
            </td>
          </ng-container>
          <ng-template #mostrarComentarios>
            <td>{{ doc.comentarios }}</td>
          </ng-template>

          <td>{{ doc.fechaHoraEntrada | date: 'short' }}</td>

          <td class="container-row">
            <ng-container *ngIf="documentoEditando?.id === doc.id; else accionesNormales">
              <button class="btn-guardar" (click)="guardarCambios()">
                <i class='bx bx-save' style='color:#ffffff'></i>
              </button>
              <button class="btn-cancelar" (click)="cancelarEdicion()">
                <i class='bx bx-x-circle' style='color:#ffffff'></i>
              </button>
            </ng-container>

            <ng-template #accionesNormales>
              <button class="btn-editar" (click)="editar(doc)">
                <i class='bx bxs-edit'></i>
              </button>
              <button class="btn-eliminar" (click)="eliminar(doc.id!)">
                <i class='bx bx-trash' style='color:#ffffff'></i>
              </button>
              <button class="btn-descargar" (click)="descargar(doc)">
                <i class='bx bx-download'></i>
              </button>
              <button class="btn-ver" (click)="ver(doc)">
                <i class='bx bx-show' style='color:#ffffff'></i>
              </button>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
