<app-navbar></app-navbar>

<div class="container">

<h2>Gestión de Personal - Obra: {{ nombreObra }}</h2>

<div class="search-container">
  <input type="text" placeholder="Buscar..." [(ngModel)]="searchQuery" (ngModelChange)="filtrarEmpleados()" class="search-input">
</div>

<div class="table-responsive">
  <table border="1" class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th>
        <label class="th-checkbox-label">
          <input type="checkbox" [(ngModel)]="todosSeleccionados" (change)="toggleSeleccionarTodos()">
          Seleccionar
        </label>
        </th>
        <th>Cédula</th>
        <th>Nombre Completo</th>
        <th>Cargo</th>
        <th class="hide-mobile">Obra</th>
        <th class="hide-mobile">Responsable</th>
        <th class="hide-mobile">Responsable secundario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empleado of empleadosFiltrados">
        <td>
          <input type="checkbox" [(ngModel)]="empleado.seleccionado" (change)="gestionarTiempos()">
        </td>
        <td>{{ empleado.cedula }}</td>
        <td>{{ empleado.nombreCompleto }}</td>
        <td>{{ empleado.cargo }}</td>
        <td class="hide-mobile">{{ empleado.obra }}</td>
        <td class="hide-mobile">{{ empleado.responsable }}</td>
        <td class="hide-mobile">{{ empleado.responsableSecundario }}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-lista-tiempos *ngIf="empleadosSeleccionados.length > 0" [empleadosSeleccionados]="empleadosSeleccionados"></app-lista-tiempos>

<button (click)="registrarIngreso()">Registrar Ingreso</button>
<button (click)="registrarSalida()">Registrar Salida</button>
</div>
