<app-navbar></app-navbar>
<app-boton-regresar></app-boton-regresar>

<div id="title">
  <h1>Bienvenido a productividad</h1>
</div>

<div class="container" id="cards">

  <div class="card">
    <div class="card-header">
      <h3>Metricas</h3>
    </div>
    <div class="card-body">
      <p>Ver Metricas</p>
      <button class="btn" (click)="irAMetricas()"><i class='bx bx-shape-triangle'></i> <b> Ver Metricas</b></button>
    </div>
  </div>




  <div class="card">
    <div class="card-header">
      <h3>Rendimiento</h3>
    </div>
    <div class="card-body">
      <p>Gestiona los rendimientos de los trabajadores.</p>
      <button class="btn" (click)="irARendimiento()"><i class='bx bx-user' style='color:#ffffff' > </i> <b> Cargar Rendimientos </b></button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Resumen Rendimientos</h3>
    </div>
    <div class="card-body">
      <p>ver los rendimientos de los trabajadores.</p>
      <button class="btn" (click)="irAVerRendimiento()"><i class='bx bx-user' style='color:#ffffff' > </i> <b> Resumen Rendimientos </b></button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Contratistas</h3>
    </div>
    <div class="card-body">
      <p>Gestionar los contratistas por obra.</p>
      <button class="btn" (click)="irAContratista()"><i class='bx bx-user' style='color:#ffffff' > </i> <b> Gestionar Contratistas </b></button>
    </div>
  </div>
</div>
