<app-navbar></app-navbar>
<app-boton-regresar></app-boton-regresar>

<div id="title">
  <h1>Bienvenido a gestion de los proyectos</h1>
</div>

<div class="container" id="cards">
  <div class="card">
    <div class="card-header">
      <h3>Obras</h3>
    </div>
    <div class="card-body">
      <p>Gestiona todas las obras del sistema.</p>
      <button class="btn" (click)="irAObrasAdmin()"><i class='bx bx-briefcase-alt-2' style='color:#ffffff' > </i> <b> Gestionar Obras</b></button>
    </div>
  </div>


  <div class="card">
    <div class="card-header">
      <h3>Inventarios</h3>
    </div>
    <div class="card-body">
      <p>Gestiona los inventarios.</p>
      <button class="btn" (click)="irAInventarios()"><i class='bx bx-objects-horizontal-left' style='color:#ffffff' ></i> <b> Gestionar Inventarios</b></button>
    </div>
  </div>
</div>
