.container {
  padding: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#title {
  text-align: center;
  padding-top: 5%;
  margin-bottom: 20px;
}

#title h1 {
  font-size: 2.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 300px;
  height: 245px;
  padding: 0;
  margin: auto;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
}

.card-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 5px;
}

/* ----- Contenedor de tarjetas ----- */
#cards {
  padding-bottom: 3%;
}

/* ----- Botón ----- */
.btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 16px;
  margin-bottom: 10px;
  cursor: pointer;
  height: 35px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-top: auto;
  margin: auto;
  width: 70%;
}

.btn:hover {
  background-color: #075e04;
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
    gap: 15px;
    margin-bottom: 0%;
  }

  .card {
    width: 100%;
    max-width: 350px;
    min-height: 320px;
  }

  .card-body {
    padding: 1px;
  }

  #title h1 {
    padding-top: 13%;
  }

  #cards {
    padding-bottom: 2%;
  }
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }

  .btn {
    height: 60px;
  }

  .container {
    padding-bottom: 18%;
  }
}
