<app-navbar></app-navbar>

 <h2 class="title">Bienvenido</h2>
    <p *ngIf="rol === 'admin'"><b>Usuario admin.</b> Tienes acceso total al sistema.</p>
    <p *ngIf="rol === 'cliente'"><b>Usuario cliente.</b> Aquí puedes explorar tus proyectos.</p>
    <p *ngIf="rol === 'responsable'"><b>Usuario de Gestión.</b> Eres responsable de la gestión interna.</p>

<div class="container" id="cards">
  <div class="card" [ngClass]="{
      'admin-card': rol === 'admin',
      'cliente-card': rol === 'cliente',
      'responsable-card': rol === 'responsable'
    }">
    <app-lista-obras [rol]="rol" [usuario]="usuario"></app-lista-obras>
  </div>
</div>


<div class="container" id="cards">
  <div class="card">
    <div class="card-header">
      <h3>Inventario interno</h3>
    </div>
    <div class="card-body">
      <p>Gestion de administracion del sistema.</p>
      <button class="btn" ><i class='bx bx-user' style='color:#ffffff' > </i> <b> entrar</b></button>
    </div>
  </div>
