<app-navbar></app-navbar>

<div id="title">
  <h1>Bienvenido al panel de control</h1>
</div>

<div class="container" id="cards">
  <div class="card">
    <div class="card-header">
      <h3>Usuarios</h3>
    </div>
    <div class="card-body">
      <p>Gestiona todos los usuarios del sistema.</p>
      <button class="btn" (click)="irAUsuariosAdmin()"><i class='bx bx-user' style='color:#ffffff' > </i> <b> Gestionar Usuarios</b></button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Empleados</h3>
    </div>
    <div class="card-body">
      <p>Gestiona todos los empleados del sistema.</p>
      <button class="btn" (click)="irAEmpleadosAdmin()"><i class='bx bxs-hard-hat' style='color:#ffffff' > </i> <b> Gestionar Empleados</b></button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Obras</h3>
    </div>
    <div class="card-body">
      <p>Gestiona todas las obras del sistema.</p>
      <button class="btn" (click)="irAObrasAdmin()"><i class='bx bx-briefcase-alt-2' style='color:#ffffff' > </i> <b> Gestionar Obras</b></button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Inventarios</h3>
    </div>
    <div class="card-body">
      <p>Gestiona los inventarios.</p>
      <button class="btn" (click)="irAInventarios()"><i class='bx bx-objects-horizontal-left' style='color:#ffffff' ></i> <b> Gestionar Inventarios</b></button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Movimientos</h3>
    </div>
    <div class="card-body">
      <p>Gestiona todos movimientos del inventario.</p>
      <button class="btn" (click)="irAMovimientos()"><i class='bx bx-transfer'></i> <b> Gestionar Movimientos</b></button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Incapacidades</h3>
    </div>
    <div class="card-body">
      <p>Gestiona todos los permisos y excusas de los empleados.</p>
      <button class="btn" (click)="irAPermisosAdmin()"><i class='bx bxs-file-pdf'></i> <b> Gestionar Incapacidades</b></button>
    </div>
  </div>

   <div class="card">
    <div class="card-header">
      <h3>Ingresos</h3>
    </div>
    <div class="card-body">
      <p>Gestiona los ingresos y salidas de los empleados.</p>
      <button class="btn" (click)="irAIngresos()"><i class='bx bxs-file-pdf'></i> <b> Gestionar Ingresos</b></button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Tiempos</h3>
    </div>
    <div class="card-body">
      <p>Gestiona todos los tiempos de los empleados del sistema.</p>
      <button class="btn" (click)="irATiemposAdmin()"><i class='bx bx-time-five' style='color:#ffffff' > </i> <b> Gestionar Tiempos</b></button>
    </div>
  </div>
</div>
