<app-navbar></app-navbar>

<div id="title">
  <h1>Bienvenido al panel de control</h1>
</div>

<div class="container" id="cards">
  <div class="card">
    <div class="card-header">
      <h3>Personal</h3>
    </div>
    <div class="card-body">
      <p>Gestiona lo relacionado con el personal de la empresa.</p>
      <button class="btn" (click)="irAPersonal()"><i class='bx bx-user' style='color:#ffffff' > </i> <b> Gestionar Personal</b></button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Proyectos</h3>
    </div>
    <div class="card-body">
      <p>Gestiona lo relacionado con los proyectos.</p>
      <button class="btn" (click)="irAProyectos()"><i class='bx bx-user' style='color:#ffffff' > </i> <b> Gestionar Proyectos</b></button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Horarios</h3>
    </div>
    <div class="card-body">
      <p>Gestiona lo relacionado con los horarios.</p>
      <button class="btn" (click)="irAHorarios()"><i class='bx bx-user' style='color:#ffffff' > </i> <b> Gestionar Horarios</b></button>
    </div>
  </div>


   <div class="card">
    <div class="card-header">
      <h3>Productividad</h3>
    </div>
    <div class="card-body">
      <p>Gestiona la productividad de los trabajadores.</p>
      <button class="btn" (click)="irAProductividad()"><i class='bx bx-user' style='color:#ffffff' > </i> <b> Gestionar la Productividad </b></button>
    </div>
  </div>

</div>
